.box {
    width: 700px;
    height: 700px;
    background-color: lightblue;
}


p {
    font-size: 100px;
}

/* Media query */
@media screen and (max-width: 1200px) {
    .box {
        background-color: green;
        width: 550px;
        height: 550px;
    }
}



@media screen and (max-width: 900px) {
    .box {
        width: 300px;
        height: 300px;
        background-color: blue;
    }

    p {
        font-size: 40px;
    }
}


@media screen and (max-width: 750px) {
    .box {
        background-color: pink;
        width: 250px;
        height: 250px;
    }
} 

