h1 {
    color: red;
    text-align: center;
}

#para1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: violet;
    text-decoration: underline;
    /* letter-spacing: 10px; */
}

#para2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.odd {
    color: darkblue;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.even {
    color: green;
}

.box {
    background-color: rgb(57, 194, 228);
    height: 200px;
    width: 200px;
    border: 5px dashed blue;
}